/* Global CSS variables */
:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
}

/* Typography */
h2,
h3,
hgroup> :last-child {
    font-weight: 200;
}

small {
    color: var(--muted-color);
}

/* Header */
li#ozarLogoHeading a {
    position: relative;
    display: block;
    width: 170px;
    height: 42px;
    text-indent: -99999px;
    margin: -1em auto 0;
}

#ozarLogoHeading a span {
    display: block;
    top: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: url(../res/ozar-logo-bug.png?v=2)  no-repeat left top; */

    z-index: 100;
}

/* Default (dark mode) logo */
#ozarLogoHeading a span {
    background: url(/ozarnetstaticweb/res/ozar-logo-bug.png?v=2)  no-repeat left top;
    background-size: 89%;
}

/* Light mode logo */
html[data-theme="light"] h1#ozarLogoHeading a span {
    background: url(/ozarnetstaticweb/res/ozar-logo.png)  no-repeat left top;
    background-size: 80%;
}


.hero {
    background-color: #394046;
    background-image: url("/ozarnetstaticweb/res/sascha-eremin-DNQ-M93tHmA-unsplash-3000x1000.jpg");
    background-position: center;
    background-size: cover;
}

header {
    padding: var(--spacing-company) 0;
}

header hgroup> :last-child {
    color: var(--h3-color);
}

header hgroup {
    margin-top: 2rem;
    margin-bottom: 0.5rem; /* var(--spacing-company); */
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: transparent;
    color: var(--contrast-hover);
}

.flex-nav, .flex-nav-home {
    display: flex;
    align-items: center; /* to aligns items vertically in the middle */
}

/* Main */
@media (min-width: 992px) {
    main .grid {
        /* margin-top: -2.75rem; */
        grid-column-gap: var(--spacing-company);
        grid-template-columns: auto 30%;
    }
}

@media (max-width: 395px) {

    body > main > div > section > article > p {
        margin-top: -0.85rem;
    }
}

form.grid {
    grid-row-gap: 0;
}

img {
    margin-bottom: 1rem;
}

/* Aside nav */
aside img {
    margin-bottom: 0.25rem;
}

aside p {
    margin-bottom: var(--spacing-company);
    line-height: 1.25;
}

button, a[role="button"] {
    border-radius: 6px;
}

/* Styling for the hamburger menu */
#nav-icon, #nav-icon-home {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: relative;
    right: 20px;
    top: 1em;
}

#nav-icon-home {
    top: 0;
}

#nav-icon span, #nav-icon-home span {
    display: block;
    position: relative;
    height: 3px;
    width: 100%;
    background: #e8dada;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1), #nav-icon-home span:nth-child(1) {
    top: 0;
    transform-origin: left center;
}

#nav-icon span:nth-child(2), #nav-icon-home span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
}

#nav-icon span:nth-child(3), #nav-icon-home span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
}

/* Hide the hamburger menu on larger screens */
@media (min-width: 992px) {
    #nav-icon, #nav-icon-home {
        display: none;
    }
}

/* Show the hamburger menu on smaller screens */
@media (max-width: 991px) {
    #nav-links {
        display: none;
    }

    #nav-icon-home, #nav-icon {
        display: block;
    }
}

/* Show the navigation links when the 'open' class is present */
#nav-links.open {
    display: block;
    position: absolute;
    background-color: #2d2b2b;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    top: 6em;
    left: 0;
    color: white;
}

#nav-links.open li {
    padding: 10px 10px;
}

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
}

#nav-icon.open span:nth-child(2), #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3), #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
}

article {
    margin-top: 0; /* -1rem; */
    padding-top: 2rem;
    padding-bottom: 1rem;
}

article header {
    padding-bottom: 0.75rem;
}

/* main > div.grid > section > article > p { */
main > div > section > article > p {
    margin-top: -2.8rem;
    margin-bottom: 0;
    padding-bottom: 1.25rem;
}

main > div > section > article > header > p {
    margin-top: 2rem;
}

article > footer {
    padding-top: 0.5rem;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    padding-bottom: 0.5rem;
}

.footer-subtopic {
    font-size: 1.1em!important;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.5em;
}

footer .grid:first-of-type {
    /* Your CSS rules here */
    grid-column-gap: 2.4em;
}

.icon svg {
    margin-right: -18px;
}

.icon {
    margin-right: 0.38em;
    /* margin-left: 20px; */
}

.go-twitter svg {
    fill: var(--primary); /* Twitter icon is always blue */
}


.go-youtube svg {
    fill: red; /* YouTube icon changes to red in light mode */
}