.blog-cat-pill {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 3px 11px;
    text-align: center;
    /* text-decoration: none; */
    font-size: small;
    font-weight: bolder;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 17px;
}

.post-share {
    display: table;
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.post-share .share-left {
    display: table-cell;
    white-space: nowrap;
    vertical-align: top;
    padding-right: 30px
}

.post-share .share-right {
    display: table-cell;
    vertical-align: top
}

.post-share .share-box {
    margin: 0;
    padding: 0;
    text-align: left
}

.post-share .share-box li {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 8px;
    margin-bottom: 8px
}

.post-share .share-box .social-btn-sm {
    height: 38px;
    width: 38px;
    color: #fff;
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: .25rem;
    line-height: 38px;
    text-align: center;
    font-size: 15px;
    -moz-transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s
}

.post-share .share-box li .social-btn-lg {
    color: #fff;
    float: left;
    padding: 0 25px;
    line-height: 36px;
    text-decoration: none;
    -moz-transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    height: 38px;
    min-width: 110px;
    border-radius: .25rem
}

.post-share .share-box li .social-btn-lg span {
    position: relative
}

.post-share .share-box li .social-btn-lg:hover {
    opacity: .8
}

.post-share .share-box li .social-btn-sm:hover {
    opacity: .8
}

.post-share .share-box li .social-btn-lg i {
    font-size: 15px;
    position: relative;
    margin-right: 10px
}

.post-share .share-box .share-li-sm {
    display: none
}

.post-share .share-title {
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 42px;
    margin: 0
}

.post-share .share-title i {
    margin-right: 5px
}

.share-box li a.facebook {
    background: #3b5998 !important
}

.share-box li a.twitter {
    background: #55acee
}

.share-box li a.linkedin {
    background: #007bb5
}

.share-box li a.whatsapp {
    background: #3EBE2B
}

.share-box li a.whatsapp i {
    font-size: 17px
}

.share-box li a.pinterest {
    background: #cb2027
}

.share-box li a.tumblr {
    background: #2c4762
}

.share-box li a.btn-print {
    background: #444
}

.share-box li a.youtube {
    background: #b00
}

.share-box li a.add-reading-list {
    background-color: #bababa;
    color: #fff !important;
    font-size: 15px !important
}

.share-box li a.remove-reading-list {
    background-color: #43A047;
    color: #fff !important;
    font-size: 15px !important
}

.comment-text {
    font-size: 1em;
}

.comment-footer {
    font-size: 0.80em;
}

.comment-footer a {
    color: #d52349;
    text-decoration: none;
}

.comment-footer a:hover {
    text-decoration: underline;
}

.user-icon {
    display: block;
    margin-top: 0.25em;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
    max-width: 6em;
    min-width: 5.15em;
    padding-right: 1.5em;
    height: auto;
}

.username {
    text-align: center;
}

.comment-left {
    width: 11%;
    padding: 25px 0 0 20px;
}

.comment-right {
    width: 89%;
    padding: 25px 20px 0 20px;
}

.sub-comment-left {
    width: 15%;
    padding: 20px 0 0 10px;
}

.sub-comment-right {
    width: 85%;
    padding: 20px 10px 0 20px;
}


.post-video iframe {
    width: 100%;
    min-height: 300px;
    height: auto;
}

.post-image .wp-caption {
    display: none;
}


@media screen and (max-width: 512px) {
    .comment-left {
        width: 20%;
        padding: 20px 0 0 20px;
    }

    .comment-right {
        width: 80%;
        padding: 20px 20px 0 20px;
    }
    .sub-comment-left {
        width: 30%;
        padding: 15px 0 0 10px;
    }

    .sub-comment-right {
        width: 70%;
        padding: 15px 10px 0 20px;
    }

    .user-icon {
        display: block;
        margin-top: 0.25em;
        margin-left: 0;
        margin-right: auto;
        width: 100%;
        max-width: 5em;
        min-width: 5em;
        padding-right: 1.5em;
        height: auto;
    }
}